@mainColor: #183761;
@borderColor: #e6e6e6;
@pageWidth: 1200px;
.searchContainer {
    // height: 26px;
    // line-height: 26px;
    background-color: #F5F5F5;
    padding: 20px;
    margin: 10px 0px;
    select{
        padding-left: 10px;
        width: 150px;
        height: 32px;
        border: 1px solid @borderColor;
    }
    input{
        line-height: 28px;
        border: 1px solid @borderColor;
    }
    input[type=text]{
        margin-left: 40px;
        padding-left: 10px;
        width: 350px;
    }
    input[type=button]{
        margin-left: -5px;
        width: 80px;
        font-weight: bold;
        text-align: center;
        background:linear-gradient(top,#FEFEFE,#F2F2F2);
        background:-moz-linear-gradient(top,#FEFEFE,#F2F2F2);
        background:-webkit-linear-gradient(top,#FEFEFE,#F2F2F2);
    }
}
.keyTitle{
    padding-left: 30px;
    height: 36px;
    line-height: 36px;
    font-weight: bold;
    background: @mainColor;
    color: #fff;
}
.brandIndex a {
    color: #333;

    font-size: 14px;
}
.brandIndex .select {
    font-weight: bold;
}
.brandItem{
    border-left: 1px solid @borderColor;
    border-right: 1px solid @borderColor;
}
.brandItem li {
    height: 125px;
    border-bottom: 1px solid @borderColor;
    // margin-left: 10px;
    // line-height: 22px;
    // width: 290px;
    // float: left;
}
.brandItem li .logoWrapper{
    display: inline-block;
    padding: 0 10px;
    width: 200px;
}
.brandItem li .logo{
    display: table-cell;
    width: 200px;
    height: 125px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    img{
        max-width: 100%;
        max-height: 100%;
    }
}
.brandItem li .description{
    display: inline-block;
    margin-top: 20px;
    // margin-left: 10px;
    width: @pageWidth - 222;
    vertical-align: top;
}
.brandItem li a {
    font-weight: bold;
    color: #333;
}
