* {
    font-family: 'Microsoft YaHei',Arial,Verdana,Calibri;
    font-size: 12px;
    text-decoration: none;
}
ul, li {
    list-style: none;
}
img{
    border:0px;
}
a, address, b, big, blockquote, body, center, cite, code, dd, del, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, u, ul, var {
    margin: 0;
    padding: 0;
}
.Container {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.Clear {
    clear: both;
}
/**/
.Top {
    border-bottom: 1px solid #CCC;
    padding-bottom: 0px;
    background-color: #F5F5F5;
    height: 30px;
}
.Top .TopSum {
    float: left;
    padding: 5px;
    color: #CCC;
}
.Top .TopSum span {
    color: #333;
}
.Top .TopSum a {
    margin: 0px 5px;
    color: #e60000;
}
.Top .TopMenu {
    float: right;
}
.Top .TopMenu .Item {
    float: left;
    margin-left: 0px;
}
.Top .TopMenu .Item a {
    display: block;
    padding: 5px 10px;
    color: #000;
}
.Top .TopMenu .Item a.Link {
    display: block;
    padding: 8px 10px;
    padding-right: 23px;
    color: #000;
    background: url('/static/img/arrow_down_blur.gif') no-repeat 95% 10px;
    border: 1px solid #EEE;
    border-bottom-width: 0px;
    border-top-width: 0px;
    height: 15px;
}

.Top .TopMenu .Item a.Link:hover {
    background: url('/static/img/arrow_down.gif') no-repeat 95% 10px;
}
.Top .TopMenu .Lang {
    cursor: pointer;
     background: url('/static/img/national_flag/us.gif') no-repeat 5px 11px;
}
.Top .TopMenu .Lang a.Link {
    padding-left: 25px;
    padding-right: 20px;
}
.Top .TopMenu .Item ul {
    display: none;
    position: absolute;
    border: 1px solid #DDD;
    border-top-width: 0px;
    margin-left: 0px;
    background-color: #FFF;
    z-index: 99;
    min-width: 90px;
}
.Top .TopMenu .Item ul li a:hover {
    color:#e60000;
}
.Top .TopMenu .Cart a.Link {
    background: url('/static/img/ICON/Cart.gif') no-repeat 5px 9px;
    padding-left: 25px;
    padding-right: 10px;
}
.Top .TopMenu .Lang ul li{
    background: url('/static/img/national_flag/ru.gif') no-repeat 5px 9px;
    padding-left:18px;
}
.Top .TopMenu .Cart ul.Item {
    width: 290px;
}
/*end*/
/*Header begin*/
.Container #header {
    padding: 15px 0px 0px;
}
.Container #header .Logo {
    float: left;
    margin-right: 50px;
    margin-top:15px;
    margin-left: 10px;
    width:200px;
    img{
        width:100%;
    }
}
.Container #header .headRight{
    float:right;
    width:868px;
    height:70px;
}
.headRight .searchBox{
    float:left;
    width:545px;
}
.headRight .searchBox .searSelect{
    color:#e2e2e2;
    height:30px;
    line-height:30px;
    margin-left: 20px;
}
.headRight .searchBox .searSelect a,.headRight .searchBox .searSelect span {
    float:left;
}
.headRight .searchBox .searSelect a{
    color:#000;
    margin:0px 14px;
}
.headRight .searchBox .searSelect .sele{
    color:#e60000;
    background:url('/static/img/sele_ico.gif') no-repeat 20px 26px;
}
.headRight .searchBox .searTxt{
    border:2px solid #e60000;
}
.headRight .searchBox .searTxt input[type=text]{    
    padding: 7px;
    width: 407px;
    border: 0px;
    background: url('/static/img/searchicon.png') no-repeat 8px 7px;
    padding-left: 30px;outline:none
}
.headRight .searchBox .searTxt input[type=button]{
    border:0px;
    width:97px;
    padding:8px 0px;
    background-color:#e60000;
    color:#fff;
    font-size:14px;
}

.shopCart{
        float:left;
    width: 115px;
    height: 38px;
    border: 1px solid #DFDFDF;
    padding: 0 28px 0 36px;
    background: #F9F9F9;
    text-align: center;
    line-height: 34px;
    margin-top: 29px;
    margin-left: 10px;

    }
.shopCart {
    position: relative;
    zoom: 1;
}
.shopCart span{
    color: #666;
}
.shopCart i{
    display: block;
    position: absolute;
    overflow: hidden;
}        
.shopCart ul:hover {
    display:block;
}
.headRight .Cart {
    float:left;
}
    
.headRight .Cart .Item{
    display: none;
    position: absolute;
    border:1px solid #DFDFDF;
    margin-left: -159px;
    background-color: #F9F9F9;
    z-index: 99;
    min-width: 90px;
    margin-top: 75px;
    width: 350px;
    z-index:100;
}
.headRight .Cart .Item li a {
    color: #0029FF;
}
.headRight .Cart .Item .blockItem {
    height:62px;
    border-bottom:1px dotted #ccc;
    padding:6px;
}
.headRight .Cart .Item .blockItem img {
    width:60px;
    height:60px;
    margin-right:8px;
    float:left;
    border:1px solid #ccc;
}
.headRight .Cart .Item .blockItem p {
    width:200px;
    float:left; 
    height:62px;
    line-height:22px;
    overflow:hidden;
}
.headRight .Cart .Item .blockItem p span{
    color:#e60000;
    display:block;
}
.headRight .Cart .Item .blockItem .delete {
    float: left;
    width:50px;
    text-align:center; 
    background-color:#0075E7;
    color:#fff; 
    padding:6px;
    margin-top:20px;
}

.headRight .Cart .Item .CartGoto{
    text-align: right;
    padding:15px;
    font-size: 14px;
    font-weight: normal;
}
.headRight .Cart .Item .CartGoto a{
    color: #008FFF;
    font-size: 14px;
}
.headRight .Cart:hover .shopCart{
    height: 47px;
    border-bottom-width:0px;
    position:relative;
    z-index:10000;
}
.headRight .Cart:hover .Item{
    display: block; 
}
.headRight .Cart:hover .Item .emptyCart{
    text-align:center;
    padding:20px;
    color:#666;
}
.ci-left {
    top: 9px;
    left: 12px;
    width: 18px;
    height: 16px;
    background: url('/static/img/cart_red.gif') 1px 1px no-repeat;    
}
.ci-right {
    top: 13px;
    right: 10px;
    width: 7px;
    height: 13px;
    overflow: hidden;
    font: 400 13px/13px simsun;
    color: #999;
}

/*Navigation begin*/
.Container .Navigation {
    margin:20px 0px;
    height: 38px;
    line-height:35px;
    border-bottom:2px solid #e60000;
    background-color:#F8F8F8;
}
.Container .Navigation .nav_Left a {
    color: #000;
    font-size: 16px;
    padding: 2px 25px;
    float: left;
    /* width: 120px; */
    text-align: center;
}
.Container .Navigation .nav_Left .proCate {
    width: 188px;
    margin-right: 20px;
    color: #fff;
    text-align: left;
    padding-left: 38px;
    background: #e60000 url('/static/img/CatMenu.png') no-repeat 12px 12px;
}
.Container .Navigation .nav_Left .highlight{
    font-weight:bold;
}

/*Footer start*/
#footer{
    margin-top: 50px;
    clear: both;
    .footFocus{
        height: 45px;
        line-height: 45px;
        padding: 20px 0px;
        /*border-top: 3px solid #F0F0F0;*/
    }
    .footFocus li {
        width: 325px;
        float: left;
        margin-left: 20px;
        padding-left: 55px;
        background: url('/static/img/sprite.png') no-repeat;
        font-size: 22px;
    }
    .footFocus .focus1 {
        background-position: 0px -159px;
    }
    .footFocus .focus2 {
        background-position: 0px -217px;
    }
    .footFocus .focus3 {
        background-position: 0px -318px;
    }
    .Support {
        padding: 30px 0px;
        dl{
            float: left;
            width: 270px;
            margin: 0px 15px;
        }
        dl dt {
            font-size: 18px;
            font-weight: normal;
            margin-bottom: 6px;
            color: #666;
            padding-left: 35px;
            background: url('/static/img/sprite.png') no-repeat;
        }
        .BuyGuide dt {
            background-position: -5px -381px;
        }
        .PayTerms dt {
            background-position: -5px -454px;
        }
        .Delivery dt {
            background-position: -5px -416px
        }
        .MyAccount dt {
            background-position: -5px -492px;
        }
        .AboutUs dt {
            background-position: -5px -530px;
        }
        dl dd {
            line-height: 24px;
            font-size: 12px;
            padding-left: 19px;
            border-left: 1px solid #F0F0F0;
            margin-left: 18px;
        }
        dl dd a {
            color: #666;
        }
    }
    .Copyright {
        border-top: 1px solid #BBB;
        padding-top: 10px;
        text-align: center;
        line-height: 22px;
    }
    .Copyright .FootPic {
        margin: 10px 0px;
    }
    .Copyright .FootPic img {
        height: 60px;
        padding: 5px;
        margin-right: 10px;
        vertical-align: middle;
    }
}
/*Footer end*/

.SiteMap{
    margin:10px 0px;
    line-height:24px;
    color:#808080;
    span{
        color:#808080;
    }
    a{
        margin:0px 10px;
        color:#000000;
        &:hover{
            color:#e60000;
            text-decoration:underline;
        }
    }
}

/*member sidebar begin*/
.sidebar {
    float: left;
    width: 150px;
    padding: 20px 10px;
    padding-top: 0px;
}
.MenuTopic {
    font-size: 16px;
    font-weight: normal;
    padding: 6px 0px;
    padding-bottom: 10px;
    color: #3890E0;
    border-bottom: 1px solid #E2E2E2;
}
.MenuItem {
    padding: 6px 0px 20px 2px;
    border-top: 1px solid #ffffff;
    line-height: 28px;
    li a{
        color: #808080;
        font-size: 13px;
    }
    li a.select {
        color: #900;
    }
}
/*member sidebar end*/
/*member main right begin*/
.main-right{
    float: right;
    width: 1020px;
}
.Topic {    
    margin-top: 7px;
    margin-bottom: 20px;
}
.Topic .Title {font-size: 20px;
    color: #CF0000;
    padding-bottom: 5px;
    margin-right: 30px;
    margin-bottom: 5px;
    font-weight: normal;
}
.Topic .SelectLink {
    line-height: 26px;
    color: #666;
    margin-left: 3px;
}
.Topic .SelectLink a {
    margin: 0px;
    color: #0038DC;
    margin-right: 15px;
    margin-top: 10px;
    border-bottom: 2px solid #DDDDDD;
    padding-bottom: 5px;
    font-size: 13px;
}
.Topic .SelectLink .select {
    color: #CF1515;
    border-bottom: 3px solid #CF1515;
}
/*member main right end*/


.PageTitle {
    margin: 10px 0px;
    font-size: 24px;
    font-weight: normal;
}

/*page turning begin*/
.pagelist {
    clear: both;
    padding: 20px 0 0;
    float: right;
    overflow: hidden;
}
.pagelist a {
    background: #ccc;
    color: #fff;
    margin: 0 3px 5px 0;
    padding: 5px 10px;
    float: left;
}
.pagelist a.active, .pagelist a:hover {
    background: #CF0000;
}
/*page turning end*/

/*loading begin*/
#loadWrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-left: -60px;
    z-index: 999999990;
    #loadingMaskID{
        width: 100%;
        height: 100%;
        border-radius: 15px;
        background: #000;
        opacity: 0.5;
    }
    #loadingIcon {
        position: absolute;
        top: 26px;
        left: 36px;
        width: 48px;
        height: 48px;
        background: url('/static/img/loading.gif') no-repeat;
    }
    #loadingText {
        position: absolute;
        top: 85px;
        width: 100%;
        font-size: 13px;
        text-align: center;
        color: #333;
    }
}
/*loading end*/

