/* CSS Document */
.ProductPic {
    width: 260px;
    float: left;
    .Large {
        width: 260px;
        height: 250px;
        border: 1px solid #ddd;
        padding: 10px 0px;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
    .Large img {
        max-width: 260px;
        max-height: 250px;
    }
    .Small {
        height: 48px;
        margin: 5px 0px;
        overflow: hidden;
        a {
            float: left;
            margin: 0 2px;   
            img {
                width: 46px;
                height: 46px;
                border: 1px solid #ddd;
            }      
            &:last-child {
                margin-right: 0px;
            }
        }
        .imgChoose img{
            border: 1px solid #e60000;
        }
    }
}
.ProductInfo {
    width: 630px;
    float: left;
    margin-left: 20px;
    padding-top: 15px;
}
.InfoList {
    line-height: 24px;
}
.InfoList dt h1 {
    font-weight: normal;
    font-size: 30px;
    margin-bottom: 15px;
    padding-left: 38px;
}
.InfoList dd {
    margin: 5px 0px;
}
.InfoList label {
    width: 210px;
    display: inline-block;
    text-align: right;
    padding-right: 10px;
    color: #808080;
}
.InfoList .datasheet-img{
    margin-right: 5px;
    height: 20px;
    vertical-align: top;
}
.InfoOther {
    padding: 10px 0px;
    line-height: 28px;
    background-color: #FAFAFA;
    min-height: 122px;
    margin-top: 10px;
    line-height: 35px;
    border: 2px solid #F5F5F5;
    border-left-width: 0px;
    border-right-width: 0px;
}
.InfoOther label {
    width: 130px;
    display: inline-block;
    text-align: right;
    padding-right: 10px;
    color: #808080;
    vertical-align: middle;
}
.InfoOther .count input {
    width: 50px;
    height: 18px;
    padding: 5px;
    border: solid 1px #DDD;
    text-align: center;
}
.InfoOther .count b {
    color: #D20041;
    font-weight: normal;
}
.InfoOther .count strong {
    font-size: 16px;
    font-weight: normal;
    color: #D20041;
}
.InfoOther .count .sub {
    cursor: pointer;
    padding:6px 5px;
    border: 1px solid #ddd;
    margin-right:-1px;
    outline:none;
}
.InfoOther .count .sub::selection,.InfoOther .count .add::selection {
    background-color:#fff;
}
.InfoOther .count .add {
    cursor: pointer;
    padding:6px 3px;
    border: 1px solid #ddd;
    margin:0px 6px;
    margin-left:-1px;
}
.InfoOther .addLink {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 140px;
}
.InfoOther .addLink a {
    padding: 7px 20px;
    margin-right: 5px;
    background-color: #ff9509;
    color: #FFF;
    font-size: 16px;
    border-radius: 3px;
}
.InfoOther .addLink .addCart {
    background-color: #e60000;
}
.InfoOther .addLink .inquiry {
    color: #555;
    border: 1px solid #ddd;
    text-align: center;
    margin-left: 20px;
    padding: 6px 10px 6px 30px;
    background: #F9F9F9 url('/static/img/page_white_text.png') no-repeat 8px 9px;
}



.ProOther {
    width: 260px;
    float: right;
}
h3 {
    font-size: 14px;
    font-weight: normal;
    padding: 5px 10px;
    border: 1px solid #EEE;
    background-color: #F9F9F9;
}
.ProOther .OtherItem {
    margin-bottom: 20px;
    padding: 10px;
    line-height: 25px;    
    height: 95px;
    overflow:hidden;
}
.ProOther .OtherItem a{
    color: #555;
    margin-right: 10px;
    border-right: 1px solid #DDD;
    padding-right: 10px;
}
.BatchPrice {
    border: 1px solid #EEE;
}
.BatchPrice li {
    line-height: 22px;
}
.BatchPrice .title {
    background-color: #EAEAEA;
}
.BatchPrice ul li label {
    width: 65px;
    display: inline-block;
    padding: 3px 5px;
}
.BatchPrice .extendedPrice{
    max-height:270px;
    overflow-y:auto;
    height: 200px;
}

/* product */
.favorProductContainer{
    margin:40px auto;
    display: inline-block;
    clear: both;
    .productItem{
        float:left;
        width: 150px;
        line-height:24px;
        margin:10px 18px;
    }
    .productItem .title{
        height:22px;
        overflow:hidden;
    }
    .productItem .title a{
        color:#204e8a;
    }
    .productItem .price{
        color:#e60000;
    }
    .productItem img{
        width:130px;
        height:140px;
    }
}

/* table */
#prod-att-table {
    width: 100%;
    border: 1px solid #999;
}
#prod-att-title {
    padding: 5px;
}
#prod-att-title-row{
    background-color: #eee;
    .bota-headline {
        color: #333;
        font-size: 14px;
        font-weight: bold;
    }
}
.attributes-table-main th {
    text-align: right;
    vertical-align: top;
    background-color: #eee;
    width: 30%;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
    font-weight: normal;
}
.attributes-table-main th, .attributes-table-main td {
    padding: 5px 10px;
    border-color: #999;
    border-bottom: 1px solid #999;
}
#inputBox{
    display: none;
    margin-top:10px;
    label{
        display: inline-block;
        margin: 0 5px;
        width:80px;
        line-height:28px;
        text-align: center;
    }
    .quantity{
        width: 200px;
        padding: 5px 10px;
        line-height: 18px;
    }
    .quantityBtn{
        display: block;
        margin: 10px 0 0 92px; 
        padding: 5px 15px;
        background-color: #ff9509;
        color: #fff;
        border: 0px;
        border-radius: 3px;
        font-size: 14px;
    }
    .error_msg{
        margin-left: 92px;
        height: 20px;
        line-height: 20px;
        color: red;
    }
}

