@mainColor: #183761;
@borderColor: #e6e6e6;
// @emphasesColor: #DA4F4C;
// .emphasesColor{
//     color: @emphasesColor;
// }
.cancelColor{
    color: #333;
}
.completeColor{
    color: #9CD98F;
}
.confirmColor{
    color: #E5A316;
}
.orderTable {
    margin: 10px 0;
    width: 100%;
    border: 1px solid @borderColor;
    caption{
        position: relative;
        padding: 5px 20px;
        line-height: 36px;
        border: 1px solid @borderColor;
        border-bottom: 0;
        background: #F5F5F5;
        text-align: left;
        span{
            display: inline-block;
            margin-right: 30px;
        }
        .orderTime{
            margin: 0;
            position: absolute;
            right: 20px;
        }
    }
    div{
        margin-bottom: 5px;
    }
    // td{
    //     padding: 20px;
    // }
    .freight{
        border-left: 2px solid @borderColor;
    }
    .imgContainer{
        display: inline-block;
        width: 90px;
        height: 90px;
        // margin-right: 10px;
        border: 1px solid @borderColor;
        img{
            max-width: 100%;
            max-height: 100%;
        }
    }
    .viewDetails{
        color: @mainColor;
        text-decoration: underline;
    }

}
.tableTitle{
    text-align: center;
}
.imgWrapper{
    padding: 20px;
    width: 90px;
}
.description{
    padding-right: 20px;
    width: 200px;
}
.unitPrice{
    padding-right: 10px;
    width: 170px;
}
.freight ,.wireTransferFee{
    // padding: 0 5px;
    width: 80px;
    text-align: center;
}
.orderAmt ,.totalAmt{
    width: 100px;
    text-align: center;
}
.orderStatus{
    // width: 100px;
    text-align: center;
}
.deleteBtn{
    display: inline-block;
    width: 60px;
    line-height: 24px;
    color: #333;
    border: 1px solid @borderColor;
    border-radius: 2px;
    text-align: center;
    background:linear-gradient(top,#FEFEFE,#F2F2F2);
    background:-moz-linear-gradient(top,#FEFEFE,#F2F2F2);
    background:-webkit-linear-gradient(top,#FEFEFE,#F2F2F2);
}



