/* CSS Document */
.Container .Main{
    margin-bottom:100px;
}
.SearchResults{
    border-bottom: 1px solid #E8E8E8;
}
.SearchResults .sr_tips{
    line-height:26px;
    margin-bottom:20px;
    margin-left: 10px;
}
.SearchResults .sr_tips a{
    color:#000;
    margin-right:6px;
    font-size:14px;
    font-weight:bold;
}
.SearchResults .sr_tips span{
    font-size:16px;
    margin:0px 5px;
    color:#e60000;
}
.SearchResults .typeMatch{
    margin:6px 8px;
    font-size:12px;
    margin-bottom: 15px;
}
.SearchResults .typeMatch a{
    color:red;
    font-size:16px;
}
.SearchResults .typeMatch span{
    margin: 0px 5px;
    color: #E60000;
    font-size: 14px;
    font-weight: bold;
}
.SearchResults .typeItem{
    border:1px solid #E8E8E8;
    padding:10px;
    line-height:28px;
    background-color: #F9F9F9;
}
.SearchResults .typeItem a{
    font-size:13px;
    margin-right:16px;
    color:#333;
}
.SearchResults .typeItem a:hover{
    color:#e60000;
    text-decoration:underline;
}

.filter{
    margin:20px 0px;
    line-height:24px;
    padding:0px;
    margin-bottom: 30px;
}
.filter .filterItem{

}
.filter .filterItem dt{
    font-size:14px;
    border-bottom: 1px dotted #DDD;

}       
.filter .filterItem dt span{
    padding: 5px 15px;
    background-color: #E60000;
    color: #FFF;
    font-size: 15px;
    display: inline-block;
}

.filter .filterItem dd{
    margin:10px 0px;
    height:30px;
    line-height:26px;
    overflow:hidden;
    border-bottom: 1px dotted #DDD;
    font-size:14px;
    padding-left:10px;
}
.filter .filterItem dd span,.filter .filterItem dd a{
    float:left;
}
.filter .filterItem dd span{
    margin-right:8px;
     color: #888;
     font-size:14px;
}
.filter .filterItem dd a{
    margin-right:12px;
    padding:0px 12px;
color:#000;
    font-size:14px;

}

.supplierTab{
    border-bottom:2px solid #e60000;
    height:38px;
    line-height:33px;
}
.supplierTab a{
    float:left;
    padding: 2px 30px;
    text-align:center;
    font-size:16px;
    margin-right:5px;
    background-color:#f7f6f4;
    color:#666;
}
.supplierTab .selectTab{
    background-color: #e60000;
    color: #fff;
    border-bottom: 0px;
    height: 34px;
    font-weight: bold;
}

.proInfoTitle{
    background: #f6f6f6;
    padding:8px 0;
    height:24px;
    line-height:24px;
    border:1px solid #EEE;
    border-bottom:1px solid #DDD;
}
.proInfoTitle span{
    float:left;
    padding:0px 10px;
    text-align:center;
    width:110px;
}
.proInfoItem{
    padding:5px 0px;
    border-bottom:1px dotted #ccc;
}
.proInfoItem span{
    float:left;
    padding:0px 10px;
    text-align:center;
    width:110px;
    line-height:24px;
}

/*proInfoTitle span,proInfoItem li ¿í¶È*/
.proDetail .type{
    width:165px;
}
.proDetail .type a{
    color:#000;
}
.proDetail .type a u{
    color:red;
}
.proDetail .firm{
    width:150px;
}
.proDetail .describe{
    width:130px;
}

.proDetail .price{
}
.proDetail .date{
    width:130px;
}

.price .morep{
    background: url('/static/img/tree.png') -16px 5px no-repeat;
    padding-left: 15px;
}
/*proInfoTitle span,proInfoItem li ¿í¶È*/

.morePro{
    padding:8px 10px;text-align:center;background: #f6f6f6;border:1px solid #ddd;margin:20px 0px;
}


/*productList sec*/
.productList{
    border: 1px solid #EEE;border-top:2px solid #C79898;background-color:#F9F9F9;margin:20px 0px;    padding-top: 5px;
}
.productList .pl_info{
    float:left;width:750px;margin:5px;
}
.productList .pl_info .pic{
    float:left;
    margin-right:10px;
    width:80px;
    height:80px;
    text-align:center;
    border: 1px solid #ddd;
}

.productList .pl_info .info{
    line-height:24px;
}
.productList .pl_info .info a{
    color: #3472BC;
}
.productList .pl_info .info strong a{
    font-size:20px;
}
.productList .pr_data{
    float:right;margin:30px;
}
.productList .pr_data .downloadDatasheet{
    padding: 10px;
    padding-left: 30px;
    background: url(/static/img/pdf_small_logo.png) no-repeat 10px 12px;
    background-color: #FFF;
    color: #333;
    border: 1px solid #CCC;
    border-radius: 5px;    
    margin-top: -5px;
    display: inline-block;
}
.productList .pr_data .downloadDatasheet:hover{
    background-color:#F9F9F9;border:1px solid #CCC;

}
.productList .pr_data form{
    float: left;
    margin-right: 10px;
}
.productList .pr_data form input[type=text]{border: 1px solid #CCC;
    padding: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.productList .pr_data form input[type=submit]{    padding: 6px 15px;
    border-width: 0px;
    background-color: #FF7600;
    color: #FFF;
}
.pi_list{
}
.pi_list span{
    float:left;padding:5px;width:100px;line-height:22px;
}
.pi_list .dis{width:200px;
}
.pi_list .dis a{color:#333;
}
.pi_list .sku{width:150px;padding-left: 20px;
}
.pi_list .sku a{text-decoration:none;
}
.pi_list .sku a u{color:red;
}
.pi_list .stock{    width: 70px;
}
.pi_list .moq{width:70px;
}
.pi_list .manu{width:160px;
}
.pi_list .pkg{
}
.pi_list .priceBreak{
    display:inline-block;
    width:45px;
    text-align: right;
    padding:0;
}
.pi_list .price{width:130px;
}
.pi_list .price i{
    display: inline-block;
    margin-right:5px;
    width: 10px;
    height: 10px;
    
}
.pi_list .price .morePrice i {
    background: url('/static/img/tree.png') 0 1px no-repeat;
}
.pi_list .price .lessPrice i {
    background: url('/static/img/tree.png') -17px 1px no-repeat;
}
.pi_list .operate{
    width:100px;
    a{
        display: block;
    }
}
.pi_list .delivery{
    width:130px
}
.show{
    display:block;
}
.hide{
    display:none;
}
.listItem{
    background-color:#F9F9F9;
}

.listTitle{
    background-color:#fff;border-top:1px solid #EEE;padding:4px 0px;
}
.listTitle span{font-weight:bold;color:#333;
}
.colorItem{background-color:#fff;
}

.ShowMore{    border-bottom: 1px dotted #ccc;
    padding: 10px 0px 15px 0px;
    text-align: center;
    background-color: #fff;
}
.ShowMore a{
    color:#0020C3
}
/*productList sec*/
.desc{
    color:#555;margin-left:10px;
}
.pi_list span.descs{
    width:280px;
}
a.btnBuy{
    color:#0053EF;
}
a.btnInquiry{
    color:red;
}
.moreprice{
    color:#0053EF;
}
.nullcount{
    padding: 100px;
    font-size: 16px;
    color: red;
}
.nullcount a{
    font-size: 16px;
}
.fixTop {
    display:none;
    background-color:#fff; width:100%;text-align:center; position:fixed;top:0;left:0;padding-bottom:10px;box-shadow: rgba(0, 0, 0, .1) 0 2px 5px;
    -webkit-box-shadow: rgba(0, 0, 0, .1) 0 2px 5px;
}
.fixTop .Header {
    padding:0px;
}
.fixTop .searchBox,.fixTop .Inquiry,.fixTop .shopCart,.fixTop .Header .Logo {
    margin-top:20px;
}


#inputBox{
    display: none;
    margin-top:10px;
    label{
        display: inline-block;
        margin: 0 5px;
        width:80px;
        line-height:28px;
        text-align: center;
    }
    .quantity{
        width: 200px;
        padding: 5px 10px;
        line-height: 18px;
    }
    .quantityBtn{
        display: block;
        margin: 10px 0 0 92px; 
        padding: 5px 15px;
        background-color: #ff9509;
        color: #fff;
        border: 0px;
        border-radius: 3px;
        font-size: 14px;
    }
    .error_msg{
        margin-left: 92px;
        height: 20px;
        line-height: 20px;
        color: red;
    }
}
